<h1>New broadcast</h1>

<%= simple_form_for @broadcast do |f| %>
  <%= render 'football_broadcaster/shared/errors', object: @broadcast %>

  <%= f.label :title %>
  <%= f.text_field :title, required: true %>

  <%= f.label :home_team_id %>
  <%= f.collection_select :home_team_id, FootballBroadcaster.team_class.all, :id, :title, prompt: 'Select a team' %>

  <%= f.label :guest_team_id %>
  <%= f.collection_select :guest_team_id, FootballBroadcaster.team_class.all, :id, :title, prompt: 'Select a team' %>

  <div id="participating_players_list">
    <%= f.fields_for :participating_players do |options_form| %>
      <%= render 'participating_player_fields', f: options_form %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add player', f, :participating_players %>
    </div>

    <div id="teams_vs"></div>
    <div id="teams_roster">
      <div id="home_roster"></div>
      <div id="guest_roster"></div>
    </div>
  </div>

  <%= f.submit %>
<% end %>