<h1>
  <%= @broadcast.home_team.title %> vs <%= @broadcast.guest_team.title %>
</h1>

<h2><%= @broadcast.home_team.title %> roster:</h2>

<ul>
  <% @field_players[@broadcast.home_team].each do |player| %>
    <li><%= player.full_name %></li>
  <% end %>
</ul>

<h2><%= @broadcast.guest_team.title %> roster:</h2>

<ul>
  <% @field_players[@broadcast.guest_team].each do |player| %>
    <li><%= player.full_name %></li>
  <% end %>
</ul>

<p><span class="btn btn-info btn-lg" id="update_log">Update log</span></p>

<div class="panel panel-info" id="broadcast_log" data-broadcast="<%= @broadcast.id %>">
  <div class="panel-heading">Log</div>
  <div class="panel-body">
    <ul>
      <% @broadcast.log_messages.each do |message| %>
        <li data-id="<%= message.id %>">
          <span class="text-muted"><%= message.match_time %></span>
          <%= message.body %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
